.contact-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  margin: 0 auto;
  margin-top: 95px;
  padding: 0 30px;
  box-sizing: border-box;
}

.contact-us__title {
  align-self: start;
  font-size: 18px;
  line-height: 30px;
  margin: 0;
}

.contact-us__title + .contact-us__info {
  margin-top: 40px;
}

.contact-us__info + .contact-us__map-container {
  margin-top: 40px;
}

.contact-us__map-container {
  display: flex;
}

.contact-us__map-container::after {
  content: url(/images/map-pin-svg.svg);
  position: absolute;
  right: 675px;
  top: 3505px;
}

.contact-us__link {
  display: block;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  color: #444444;
  text-transform: uppercase;
  box-sizing: border-box;
  border: 2px solid #444444;
  padding: 14px 50px;
  margin: 40px 0;
}

.contact-us__link:hover,
.contact-us__link:focus {
  background-color: #444444;
  color: #ffffff;
}

.contact-us__link:active {
  color: rgba(255,255,255,0.3);
}
