.info-list {
  display: flex;
  flex-direction: column;
}

.info-list__item {
  display: flex;
}

.info-list__item + .info-list__item {
  margin-top: 40px;
}

.info-list__text + .info-list__text {
  margin-left: 30px;
  width: 180px;
}

.info-list__text {
  color: #444444;
}

.info-list__mail {
  color: #444444;
  width: 180px;
  margin-left: 30px;
  border-bottom: 1px solid #46c1ae;
}

.info-list__mail:hover,
.info-list__mail:focus {
  color: #46c1ae;
}

.info-list__mail:active {
  color: rgba(70,193,174,0.3);
  border-bottom: 1px solid rgba(70,193,174,0.3);
}
