.order-form {
  padding-top: 30px;
  padding-bottom: 55px;
}

.order-form__body {
  width: 320px;
  padding: 0 30px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.order-form__description {
  margin-bottom: 30px;

  font-size: 13px;
  line-height: 24px;
  color: #444444;
}

.order-form__form {
  display: flex;
  flex-direction: column;
}

.order-form__fieldset {
  display: flex;
  flex-direction: column;
  border: none;
}

.order-form__legend {
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  color: #63d1bb;
}

.order-form__fieldset + .order-form__fieldset {
  margin-top: 35px;
}

.order-form__title {
  display: flex;
  align-items: center;

  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
}

.order-form__label {
  margin-bottom: 10px;

  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  color: #63d1bb;
}

.order-form__input-field,
.order-form__textarea {
  padding: 18px 0;
  width: 260px;
  border: none;
  box-shadow: inset 0px -2px 0 0 #000000;
  box-sizing: border-box;

  font-size: 17px;
  line-height: 18px;
  color: rgba(68,68,68,0.3);
}

.order-form__textarea {
  padding: 18px;
  border: 2px solid #000000;
  box-shadow: none
}

.order-form__item {
  position: relative;

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 25px;
}

.order-form__icon {
  position: absolute;
  left: 225px;
  top: 40px;
}

.order-form__input-checkbox + .order-form__title::before,
.order-form__input-radio + .order-form__title::before {
  content: "";

  min-width: 40px;
  height: 40px;
  box-sizing: border-box;
  border: 2px solid #444444;
  margin-right: 25px;
}

.order-form__input-checkbox:checked + .order-form__title::before {
  background-image: url("../images/tick-mobile-svg.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.order-form__input-radio + .order-form__title::before {
  border-radius: 50%;
}

.order-form__input-radio:checked + .order-form__title::before {
  background-image: url("../images/round-checkbox-pin-2.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.order-form__input-checkbox:hover + .order-form__title::before,
.order-form__input-checkbox:focus + .order-form__title::before,
.order-form__input-radio:hover + .order-form__title::before,
.order-form__input-radio:focus + .order-form__title::before {
  border-color: #62d1ba;
}

.order-form__input-checkbox:active + .order-form__title::before,
.order-form__input-radio:active + .order-form__title::before {
  border-color: rgba(68, 68, 68, 0.3);
}

.order-form__note {
  margin: 0;
  margin-top: 18px;

  font-size: 14px;
  line-height: 16px;
  color: #444444;
}

.order-form__note + .order-form__submit-button {
  margin-top: 30px;
}

.order-form__submit-button {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 2px solid #444444;

  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  color: #444444;
  text-transform: uppercase;
  text-align: center;
  background-color: #ffffff;
}

.order-form__submit-button:hover,
.order-form__submit-button:focus {
  background-color: #444444;
  color: #ffffff;
}

.order-form__submit-button:active {
  color: rgba(255,255,255,0.3);
}
