.page-footer {
  width: 320px;
  background-color: #f1f1f1;
  margin: 0 auto;
}

.page-footer__social {
  padding: 26px 90px;
}

.page-footer__copyright {
  display: flex;
  // align-items: center;
  // Создается впечатление, что даже флекс не везде нужен, не говоря уже про выравнивание
  padding: 22px 68px;
}

.page-footer__copyright-link {
  display: flex;
  align-items: center;
  font-size: 19px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
}

.page-footer__copyright-link:hover,
.page-footer__copyright-link:focus {
  color: rgba(0, 0, 0, 0.6);
}

.page-footer__copyright-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.page-footer__copyright-img {
  fill: #63d1bb;
  margin-left: 30px;
}

.page-footer__copyright-link:hover .page-footer__copyright-img,
.page-footer__copyright-link:focus .page-footer__copyright-img {
  fill: #46c1ae;
}

.page-footer__copyright-link:active .page-footer__copyright-img {
  fill: #46c1ae;
  fill-opacity: 0.3;
}
