.week-offer {
  display: flex;
  flex-direction: column;
  width: 260px;
  color: #444444;
  margin: 0 auto;
  padding: 35px 0;
}

.week-offer__title {
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
}

.week-offer__title-label {
  width: 133px;
  height: 16px;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  color: #63d1bb;
}

.week-offer__text {
  line-height: 24px;
  color: #444444;
  margin-top: 30px;
}

.week-offer__image-container {
  display: flex;
}

.week-offer__price {
  display: flex;
  justify-content: center;

  line-height: 24px;
  color: #444444;

  width: 125px;
  margin: 30px auto;
}

.week-offer__link {
  display: flex;
  justify-content: center;

  line-height: 17px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;

  color: #444444;
  border: solid 2px #444444;
  padding: 15px 85px;
}

.week-offer__link:hover,
.week-offer__link:focus {
  background-color: #444444;
  color: #ffffff;
}

.week-offer__link:active {
  color: rgba(255,255,255,0.3);
}
