.burger-button {
  width: 20px;
  height: 20px;
  border: none;

  background-image: url("../images/burger-button.svg");
  background-repeat: no-repeat;
  background-color: transparent;
}

.burger-button.is-toggled {
  background-image: url("../images/burger-button-close.svg");
}
