.control {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  box-sizing: border-box;
  border: 2px solid #444444;
  background-color: #ffffff;

  // Control text styles:
  &__text {
    font-size: 17px;
    line-height: 24px;
    font-weight: 700;
    color: #444444;
    text-transform: uppercase;
  }

  // Change control background on component hover and focus:
  &:hover,
  &:focus {
    background-color: #444444;
  }

  // Change text color on control hover and focus:
  &:hover &__text,
  &:focus &__text {
    color: #ffffff;
  }

  // Change control text color on component click:
  &:active &__text {
    color: rgba(255, 255, 255, 0.3);
  }
}
