.contact-us {
  padding-top: 45px;
  padding-bottom: 40px;

  // Width limiting and positioning:
  &__body {
    width: 320px;
    margin: 0 auto;
    box-sizing: border-box;
  }

  // Text content wrapper:
  &__wrapper {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 40px;
  }

  // Offset between text blocks:
  &__title + &__info {
    margin-top: 40px;
  }

  // Image container:
  &__map-container {
    position: relative;
    display: flex;
    width: 100%;
    height: 460px;
    background-image: url('../images/map-mobile.png');

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url('../images/map-mobile@2x.png');
      background-size: cover;
    }

    // Map pin location:
    &::after {
      content: url("../images/map-pin.svg");
      position: absolute;
      right: 115px;
      top: 140px;
    }
  }

  &__map {
    width: 100%;
    z-index: 2;
    border: none;
  }

  // Control container:
  &__control {
    width: 260px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
  }
}

@media (min-width: $tablet-width) {

  .contact-us {
    padding-top: 75px;
    padding-bottom: 55px;

    &__body {
      width: 768px;
    }

    &__wrapper {
      padding-left: 50px;
      padding-right: 50px;
      padding-bottom: 60px;
    }

    &__title {
      position: relative;
      font-size: 43px;
      line-height: 1.2;

      // Draw flag and sign his position:
      &::after {
        content: '';
        position: absolute;
        right: 0;
        bottom: -15px;
        height: 80px;
        width: 50px;
        background-image: url('../images/flag-svg.svg');
        background-repeat: no-repeat;
      }
    }

    &__title + &__info {
      margin-top: 65px;
    }

    &__map-container {
      background-image: url('../images/map-tablet.png');

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url('../images/map-tablet@2x.png');
        background-size: cover;
      }

      // Relocated map pin:
      &::after {
        right: 340px;
      }
    }

    &__control {
      width: 230px;
      margin-top: 55px;
    }
  }
}

@media (min-width: $desktop-width) {

  .contact-us {

    &__body {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      width: 1150px;
      height: 457px;
      padding-right: 50px;
      padding-left: 225px;
    }

    &__title {
      font-size: 53px;
      line-height: 1.1;

      // Relocated flag:
      &::after {
        left: -115px;
      }
    }

    &__wrapper {
      padding-top: 80px;
      padding-bottom: 0;
      padding-left: 0;
      padding-right: 0;
      order: 1;
    }

    &__map-container {
      width: 60%;
      margin-left: auto;
      order: 3;
      background-image: url('../images/map-desktop.png');

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url('../images/map-desktop@2x.png');
        background-size: cover;
      }

      // Relocated map pin:
      &::after {
        right: 220px;
      }
    }

    &__control {
      margin-top: auto;
      margin-right: auto;
      margin-left: 0;
      order: 2;
    }
  }
}
