.custom-button {
  padding-top: 30px;

  // Buttton text styles:
  &__text {
    font-size: 17px;
    line-height: 24px;
    font-weight: 700;
    color: #444444;
    text-transform: uppercase;
  }

  // Custom button styles:
  &__button {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 2px solid #444444;
    background-color: #ffffff;

    // Change custom button background on component hover and focus:
    &:hover,
    &:focus {
      background-color: #444444;
    }
  }

  // Change text color on button hover and focus:
  &__button:hover &__text,
  &__button:focus &__text {
    color: #ffffff;
  }

  // Change custom button text color on component click:
  &__button:active &__text {
    color: rgba(255,255,255,0.3);
  }
}
