.feedback {
  padding-top: 60px;
  padding-bottom: 45px;

  // Width limiting and positioning:
  &__body {
    box-sizing: border-box;
    width: 320px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
  }

  // Offset between content blocks:
  &__title + &__slider {
    margin-top: 35px;
  }

  // Offset between slider elements:
  &__slides + &__slider-buttons {
    margin-top: 35px;
  }

  // Hide next slide:
  &__slide.is-hidden {
    display: none;
  }

  // Slider buttons container:
  &__slider-buttons {
    display: flex;
  }

  // Slider button settings:
  &__slider-button {
    display: flex;
    padding: 12px 40px;
    background-color: transparent;
    border: 1px solid #ececec;
  }

  // Link positioning and width limit:
  &__control {
    width: 260px;
    margin-top: 40px;
    margin-left: auto;
    margin-left: auto;
  }

  // Citation container:
  &__citation {

    &-text {
      color: #444444;
      margin-bottom: 40px;
    }

    // Citation block wrapper:
    &__cite {
      display: flex;
      flex-wrap: wrap;
      word-break: break-word;
    }

    &-author {
      font-size: 17px;
      line-height: 24px;
      font-weight: 700;
      font-style: normal;
    }

    &-link {
      font-size: 17px;
      line-height: 30px;
      color: #444444;

      // Change text color on link hover and focus:
      &:hover,
      &:focus {
        color: #46c1ae;
      }

      // Change text color on link click:
      &:active {
        color: rgba(70, 193, 174, 0.3);
      }
    }
  }
}
