.hero {
  background-image: url("../images/hero-mobile-crop.png");
  background-position: top;
  background-repeat: no-repeat;
  background-color: #f9f9f9;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../images/hero-mobile@2x.png");
    background-position: top center;
    background-size: 165%;
    background-repeat: no-repeat;
  }

  &__body {
    display: flex;
    flex-direction: column;
    width: 320px;
    min-height: 490px;
    padding-top: 75px;
    margin: 0 auto;
    box-sizing: border-box;
    border-top: 1px solid #ececec;
  }

  &__title {
    margin-bottom: auto;
    padding-left: 35px;
    padding-right: 35px;
    box-sizing: border-box;
    font-size: 27px;
    font-weight: 700;
    text-align: center;
    word-break: break-word;
  }

  &__menu-item {
    background-color: #63d1bb;
  }

  &__menu-item:nth-child(2) {
    background-color: #56c3b2;
  }

  &__menu-link {
    display: flex;
    align-items: center;
    padding: 22px 30px;
    box-sizing: border-box;

    &:hover,
    &:focus {
      transform: translateY(-5px);
    }

    &:active {
      opacity: 0.3;
    }
  }

  &__menu-text {
    max-width: 175px;  /* отказ от <br>, нормальная максимальная ширина */
    font-size: 19px;
    line-height: 1.4;
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;
    word-break: normal;
  }

  // Offset between text blocks:
  &__menu-text + &__menu-icon {
    margin-left: auto;
  }

  &__menu-icon {
    fill: rgba(20, 144, 128, 0.5);
  }

  // Change first link background color on menu item focus and hover:
  &__menu-item &__menu-link:hover,
  &__menu-item &__menu-link:focus{
    background-color: #59d5bc;
  }

  // Change second link background color on menu item focus and hover:
  &__menu-item:nth-child(2) &__menu-link:hover,
  &__menu-item:nth-child(2) &__menu-link:focus {
    background-color: #46c1ae;
  }
}

@media (min-width: $tablet-width) {

  .hero {
    position: relative;
    top: -40px;
    z-index: 1;
    background-image: url("../images/hero-desktop.png");
    background-position: top center;
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../images/hero-desktop@2x.png");
      background-position: top center;
      background-size: contain;
      background-repeat: no-repeat;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: -12px;
      height: 24px;
      background-image: url("../images/zigzag.svg");
      background-size: auto 24px;
      background-position-x: 10%;

      @media (min-width: $desktop-width) {
        bottom: -17px;
        height: 34px;
        background-size: auto 34px;
      }
    }

    &__body {
      width: 772px;
      min-height: 745px;
      padding-top: 155px;
      padding-left: 50px;
      padding-right: 50px;
      box-sizing: border-box;
    }

    &__title {
      margin-bottom: auto;
      padding: 0;
      font-size: 43px;
      line-height: 1.2;
    }

    &__menu {
      display: flex;
      width: 100%;
    }

    &__menu-item {
      width: 100%;
    }

    &__menu-link {
      padding: 30px 35px;
    }

    &__menu-text {
      font-size: 20px;
      line-height: 1.5;
    }
  }
}

@media (min-width: $desktop-width) {

  .hero {
    top: -55px;

    &__body {
      width: 1150px;
      padding-top: 145px;

      // &::after {
      //   content: none;
      //   position: absolute;
      //   left: 0;
      //   right: 0;
      //   background-image: url("../images/zigzag-desktop.svg");
      //   background-repeat: repeat-x;
      // }
    }

    &__title {
      font-size: 53px;
    }
  }
}
