.info-list {

  &__item {
    display: flex;

    & + & {
      margin-top: 40px;
    }
  }

  &__text {
    color: #444444;

    // Offset and fixed size next text element:
    & + & {
      margin-left: 30px;
      width: 180px;
    }
  }

  &__mail {
    color: #444444;
    width: 180px;
    margin-left: 30px;
    border-bottom: 1px solid #46c1ae;

   &:hover,
   &:focus {
      color: #46c1ae;
    }

   &:active {
      color: rgba(70,193,174,0.3);
      border-bottom-color: rgba(70,193,174,0.3);
    }
  }
}
