.item-card {

  &__image-wrapper {
    display: flex;
  }

  &__info {
    padding: 30px;
    border: 1px solid #ececee;
  }

  &__link {
    font-size: 17px;
    line-height: 1.4;
    font-weight: 700;
    text-align: left;
    color: #000000;

    &:hover,
    &:focus {
      color: rgba(0, 0, 0, 0.6);
    }

    &:active {
      color: rgba(0, 0, 0, 0.3);
    }
  }

  &__image {
    width: 100%;
  }

  &__details {
    margin-top: 15px;
    font-size: 13px;
    line-height: 1.4;
    color: #444444;
  }

  &__footer {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 50px;

    // Draw gray line after element:
     &::after {
      content: '';
      position: absolute;
      top: -50px;
      left: 0;
      right: 0;
      height: 1px;
      margin-top: 25px;
      margin-bottom: 20px;
      flex-grow: 1;
      background-color: #ececee;
    }
  }

  &__price {
    font-size: 15px;
    line-height: 1.4;
    font-weight: 700;
    color: #000000;
  }

  &__control {
    width: 24px;
    height: 24px;
    padding: 2px;
    margin-left: auto;
  }

  &__icon {
    display: block;
    width: 100%;
    height: 100%;
    fill: #cccccc;
  }

  &__control:hover &__icon,
  &__control:focus &__icon {
    fill: #63d1bb;
  }

  &__control:active &__icon {
    fill: #63d1bb;
    fill-opacity: 0.2;
  }

  &__body:hover,
  &__body:focus {
    box-shadow: 0px 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &__body:active {
    box-shadow: 0px 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

@media (min-width: $tablet-width) {

  .item-card {

    &__body {
      display: flex;
    }

    &__image {
      width: 335px;
      height: 335px;
    }

    &__info {
      width: 335px;
      height: 335px;
      box-sizing: border-box;
    }

    &__link {
      font-size: 20px;
    }

    &__details {
      font-size: 15px;
    }

    &__footer {
      margin-top: 180px;
    }
  }
}

@media (min-width: $desktop-width) {

  .item-card {

    &__body {
      flex-wrap: wrap;
      width: 315px;
    }

    &__image {
      height: 465px;
      width: 315px;
    }

    &__info {
      width: 315px;
      height: 200px;
    }

    &__footer {
      margin-top: 50px;
    }

    &__control {
      margin-left: 150px;
    }
  }
}
