.navigation-list {
  display: none;

  // Show block when class added:
  &.is-opened {
    display: block;
    background-color: #ffffff;
  }

  &__item {
    display: flex;
    box-sizing: border-box;
    padding: 30px 0;
    box-shadow: 0px 1px 0 0 #ececec, inset 0px 1px 0 0 #ececec;

    &[data-desktop-only="true"] {
      display: none;
    }
  }

  &__link {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: 700;
    line-height: 24px;
    color: #000000;

    &:hover,
    &:focus {
      color: rgba(0, 0, 0, 0.6);
    }

    &:active {
      color: rgba(0, 0, 0, 0.3);
    }
  }

  &__text {
    padding-left: 77px;
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    fill: #cccccc;
  }

  // Change icon fill color on link hover and focus
  &__link:hover &__icon,
  &__link:focus &__icon {
    fill: #63d1bb;
  }

  // Change icon fill opacity on link click:
  &__link:active &__icon {
    fill-opacity: 0.2;
  }
}

@media (min-width: $tablet-width) {

  .navigation-list {
    display: flex;
    flex-wrap: wrap;

    &__item {
      position: relative;
      box-shadow: none;
      padding-top: 32px;
      padding-bottom: 32px;
      min-width: 80px;

      &[data-set="without-tablet"] {
        display: none;
      }

      &:nth-child(3) {
        margin-left: auto;
        border-left: 1px solid #ececec;
        border-right: 1px solid #ececec;
      }

      &:nth-child(4) {
        padding-left: 80px;
      }
    }

    &__link {
      position: static;
    }

    &__text {
      padding-left: 0;
      max-width: 181px;

      &[data-mobile-only="true"] {
        display: none;
      }
    }
  }
}


@media (min-width: $desktop-width) {

  .navigation-list {

    &__item {
      display: flex;
      padding-top: 31px;
      padding-bottom: 31px;

      &[data-set="without-tablet"] {
        display: flex;
      }

      &:nth-child(1) {
        padding-right: 35px;
        margin-right: 35px;
        border-right: 1px solid #ececec;
      }
    }
  }
}
