.order-form {
  padding-top: 30px;
  padding-bottom: 55px;

  &__body {
    width: 320px;
    padding: 0 30px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
  }

  &__description {
    margin-bottom: 30px;
    font-size: 13px;
    line-height: 24px;
    color: #444444;
  }

  &__fieldset {
    border: none;

    & + & {
      margin-top: 35px;
    }
  }

  &__legend {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    font-size: 17px;
    line-height: 24px;
    font-weight: 700;
    color: #63d1bb;

    &::after {
      content: '';
      height: 1px;
      margin-left: 25px;
      flex-grow: 1;
      background-color: #63d1bb;
    }
  }

  &__item {

    & + & {
      margin-top: 25px;
    }
  }

  &__fieldset + &__item {
    margin-top: 25px;
  }

  &__note {
    margin-top: 18px;
    font-size: 14px;
    line-height: 16px;
    color: #444444;
  }

  &__note + &__submit-button {
    margin-top: 30px;
  }

  &__submit-button {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 2px solid #444444;
    font-size: 17px;
    line-height: 16px;
    font-weight: 700;
    color: #444444;
    text-transform: uppercase;
    text-align: center;
    background-color: #ffffff;

    &:hover,
    &:focus {
      background-color: #444444;
      color: #ffffff;
    }

    &:active {
      color: rgba(255,255,255,0.3);
    }
  }
}
