.page-header {

  &__body {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
  }

  &__top {
    position: relative;
  }

  &__logo {
    width: 80px;
    margin: 0 auto;
    padding-top: 22px;
    padding-bottom: 22px;

    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  &__logo-link {
    display: flex;
  }

  &__toggle {
    position: absolute;
    top: 50%;
    right: 32px;
    transform: translateY(-50%);
    display: flex;
    width: 20px;
    height: 20px;
  }

  &__info {
    display: none;
  }

  &__footer {
    display: none;
  }

  &__text {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .page-header {

    &__body {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      width: 772px;
      box-sizing: border-box;
      padding-left: 50px;
      padding-right: 50px;
    }

    &__top {
      display: flex;
    }

    &__toggle {
      display: none;
    }

    &__logo {
      height: 100%;
      width: 112px;
    }

    &__logo-img {
      width: 112px;
      height: 46px;
    }

    &__navigation {
      display: flex;
      flex-wrap: wrap;
    }

    &__text {
      display: flex;
      align-self: flex-end;
      margin-left: auto;
      order: 4;
    }
  }
}

@media (min-width: $desktop-width) {

  .page-header {

    &__body {
      width: 1150px;
    }

    &__top {
      margin-left: 75px;
    }

    &__logo {
      width: 149px;
    }

    &__logo-img {
      width: 149px;
      height: 72px;
    }
  }
}
