.page-footer {

  &__body {
    width: 320px;
    box-sizing: border-box;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #f1f1f1;
  }

  &__logo {

    &[data-show="tablet"] {
      display: none;
    }
  }

  &__copyright {
    display: flex;
    justify-content: center;
    padding-top: 22px;
    padding-bottom: 22px;
  }

  &__copyright-link {
    display: flex;
    align-items: center;
    font-size: 19px;
    line-height: 1.4;
    font-weight: 700;
    color: #000000;

    &:hover,
    &:focus {
      color: rgba(0, 0, 0, 0.6);
    }

    &:active {
      color: rgba(0, 0, 0, 0.3);
    }
  }

  &__copyright-img {
    margin-left: 30px;
    fill: #63d1bb;
  }

  // Change image fill color on link focus and hover:
  &__copyright-link:hover &__copyright-img,
  &__copyright-link:focus &__copyright-img {
    fill: #46c1ae;
  }

  // Change image fill opacity color on link click:
  &__copyright-link:active &__copyright-img {
    fill: #46c1ae;
    fill-opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {

  .page-footer {

    &__body {
      display: flex;
      justify-content: space-between; /* Тут сдвиг влево 75px, на дизайне список с иконками не совсем по центру. Так выглядит хорошо, но можно сделать дополнительный маргин 75 слева, чтобы было как в дизайне */
      box-sizing: border-box;
      width: 768px;
      padding: 50px;
    }

    &__logo {

      &[data-show="tablet"] {
        display: flex;
      }
    }

    &__copyright {
      padding: 0;
    }

    &__link {
      display: flex;
    }

    &__img {
      fill: #000000;
    }

    &__link:hover &__img,
    &__link:focus &__img {
      fill: #46c1ae;
    }

    &__link:active &__img {
      fill-opacity: 0.3;
    }
  }
}

@media (min-width: $desktop-width) {

  .page-footer {

    &__body {
      width: 1150px;
    }
  }
}
