.page-header {

  &__body {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
  }

  &__top-bar {
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 22px;
    padding-bottom: 22px;
  }

  &__logo {
    width: 80px;

    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  &__logo-link {
    display: flex;
  }

  &__toggle {
    position: absolute;
    top: 32px;
    right: 32px;
    display: flex;
    width: 20px;
    height: 20px;
  }
}
