.promotion {
  padding-bottom: 60px;

  &__body {
    width: 260px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ececec;
  }

  &__heading {
    display: flex;
    align-items: center;
    padding: 25px 35px;
  }

  &__heading-icon {
    display: flex;
    min-width: 32px;
    margin-right: 25px;
    fill: #63d1bb;
  }

  &__title {
    font-size: 17px;
    line-height: 1.4;
    font-weight: 700;
  }

  &__wrapper {
    position: relative;
    display: flex;
  }

  &__video-control {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 101px;
    height: 77px;
    background-color: transparent;
    border-color: transparent;
    border-radius: 0;
  }

  &__video-icon {
    height: 100%;
    width: 100%;
  }

  &__footer {
    padding: 35px;
  }

  &__details {
    font-size: 13px;
    line-height: 1.8;
    color: #444444;
  }

  &__details + &__control {
    margin-top: 30px;
  }

  &__body:hover,
  &__body:focus {
    box-shadow: 0px 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &__body:active {
    box-shadow: 0px 3px 5px 0 rgba(0, 0, 0, 0.1);
  }

  &__video-control:hover,
  &__video-control:focus {
    transform: scale(1.2) translate(-50%, -50%);
    transform-origin: left top;
  }

  &__video-control:active {
    transform: scale(0.8) translate(-50%, -50%);
    transform-origin: left top;
    opacity: 0.3;
  }
}
