.social-list {
  display: flex;
  align-items: center;
  padding: 25px 90px;
}

.social-list__item + .social-list__item {
  margin-left: 40px;
}

.social-list__link {
  display: flex;
}

.social-list__link-icon {
  fill: #231F20;
}

.social-list__link:hover .social-list__link-icon,
.social-list__link:focus .social-list__link-icon {
  fill: #46c1ae;
}

.social-list__link:active .social-list__link-icon {
  fill: #46c1ae;
  fill-opacity: 0.3;
}
