.social-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid rgba(68, 68, 68, 0.1);

  &__item {

    // Offset between social links:
    & + & {
      margin-left: 40px;
    }
  }

  &__link {
    display: flex;
  }

  &__link-icon {
    fill: #231F20;
  }

  &__link:hover &__link-icon,
  &__link:focus &__link-icon {
    fill: #46c1ae;
  }

  &__link:active &__link-icon {
    fill: #46c1ae;
    fill-opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {

  .social-list {
    padding: 0;
    border-bottom: none;
  }
}
