.toggle {
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;

  background-image: url("../images/burger-button.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;

  &:active {
    opacity: 0.3;
  }

  // Change background image when class added:
  &.is-toggled {
    background-image: url("../images/burger-button-close.svg");
  }
}
