.week-offer {
  padding-top: 35px;

  // Width limiting and positioning:
  &__body {
    position: relative;
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto;
    color: #444444;
    padding-bottom: 35px;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 6px;
      background-image: url("../images/week-offer__line.svg");
      background-size: auto 6px;

      @media (min-width: $tablet-width) {
        height: 15px;
        left: 50px;
        right: 50px;
        background-size: auto 15px;
      }

      @media (min-width: $desktop-width) {
        height: 24px;
        background-size: auto 24px;
      }
    }
  }

  // Block title styling:
  &__title {
    display: flex;
    flex-wrap: wrap;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
  }

  // Change size and color settings for label:
  &__title-label {
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
    color: #63d1bb;
  }

  &__wrapper {
    margin-top: 30px;
  }

  // Main block text styling and positioning:
  &__text {
    margin-bottom: 20px;
    font-size: 15px;
    line-height: 1.4;
    color: #444444;
  }

  &__image-wrapper {
    margin-top: 30px;
  }

  // Price styles:
  &__price {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 1.4;
    color: #444444;
    text-align: center;
  }
}

@media (min-width: $tablet-width) {

  .week-offer {
    padding-top: 0;

    &__body {
      display: flex;
      flex-wrap: wrap;
      width: 768px;
      box-sizing: border-box;
      padding-left: 50px;
      padding-right: 50px;
      padding-bottom: 75px;
    }

    &__wrapper {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      width: 295px;
      height: 404px;
    }

    &__title-container {
      width: 100%;
    }

    &__title {
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      font-size: 43px;
      line-height: 1.4;
    }

    &__title-label {
      margin-left: 150px;
      text-align: center;
    }

    &__image-wrapper {
      margin-left: 45px;
      margin-top: 0;
    }

    &__image {
      width: 333px;
      height: 404px;
    }

    &__info {
      display: flex;
      flex-wrap: wrap;
      order: -3;
    }

    &__text {
      margin-bottom: 40px;
      font-size: 17px;
      line-height: 1.4;
    }

    &__price {
      order: -2;
      margin-top: 50px;
      font-size: 20px;
      line-height: 1.4;
      font-weight: 700;
    }

    &__control {
      order: -1;
    }
  }
}

@media (min-width: $desktop-width) {

  .week-offer {
    padding-bottom: 75px;

    &__body {
      width: 1150px;
    }

    &__title-container {
      padding-top: 60px;
      z-index: 2;
    }

    &__title {
      font-size: 53px;
      line-height: 1.4;
    }

    &__title-label {
      margin-left: 0;
      margin-right: 95px;
      text-align: center;
      order: -1;
      width: 75px;
    }

    &__wrapper {
      padding-right: 580px;
      padding-left: 175px;
      height: auto;
    }

    &__image-wrapper {
      position: absolute;
      right: 50px;
      top: 0;
    }

    &__image {
      width: 525px;
      height: 636px;
    }

    &__text {
      margin-bottom: 65px;
    }

    &__price {
      margin-top: 110px;
    }
  }
}
